* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* nav bar styling */
.nav-bar {
    width: 100%;
}

.nav-bar .nav-items {
    float: right;
    margin: .5rem 0;
}

.nav-bar .nav-items ul {
    display: inline;
    padding-inline: 1rem;
}

.nav-bar .nav-items a {
    text-decoration: none !important;
    font-size: 1.5rem;
    color: #000;
    display: inline;
}

.nav-bar .nav-items ul i {
    font-size: 1.7rem;
}

.available-vehicles {
    box-shadow: 0 0 20px 0 rgba(218, 213, 215, 0.938);
    width: 100%;
    height: auto;
    padding: 2.5rem;
    margin: 1rem auto 1rem auto;
    /* using flex styling */
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-flow: wrap;
}


.available-vehicles .vehicle{
    width: fit-content;
    height: auto;
    box-shadow: 0 0 20px 0 rgba(179, 175, 175, 0.938);
    padding: 1rem;
    margin-bottom: 2rem;
}

/* .available-vehicles .vehicle:hover{
    opacity: 1;
} */

.available-vehicles .vehicle .vehicle-img{
    width: 16rem;
    height: 15rem;
    padding: .8rem;
    margin: .5rem;
}

.available-vehicles .vehicle .vehicle-data{
    margin-top: 1rem;
}

.available-vehicles .vehicle .vehicle-data h1{
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    padding-top: 2rem;
}

.available-vehicles .vehicle .vehicle-data h2{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding: .7rem;
}

.available-vehicles .vehicle .vehicle-data button{
   width: 100%;
   height: auto;
   padding: .4rem;
   margin-top: 2.7rem;
   background-color: #0d35b8;
   font-size: 2rem;
   color: #fff;
   border: none;
   border-radius: 3px;
}

.available-vehicles .vehicle button:hover{
    background-color: rgb(128, 22, 227);
}

/* media queries */

@media (min-width: 400px){
   *{
    font-size: 8px;
   }
   
   .available-vehicles .vehicle{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-flow: wrap;
   }
}

@media (min-width: 700px){
    *{
     font-size: 9.5px;
    }
 }

 @media (min-width: 900px){
    *{
     font-size: 10.3px;
    }
 }

 @media (min-width: 1500px) {
    *{
        font-size: 11.5px;
    }
 }
 
 @media (min-width: 1700px) {
    *{
        font-size: 12.00px;
    }
    
 }

