* {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    image-rendering: -webkit-optimize-contrst;
    image-rendering: crisp-edges;
    /* background-color: #1c1b1b; */

}

/* header styling */

.header {
    position: relative;
    border: 3px dotted #000;
    width: 100%;
    height: 20rem;
}
 
.header .header-text h1,
.header div h4 {
    color: #fff;
    text-align: center;
}

.header .header-text h1 {
    padding-bottom: .6rem;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: .3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header .header-text h4 {
    font-size: 3em;
    font-weight: 450;
    letter-spacing: .15rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* navigation */

.nav-bar {
    max-width: 100%;
    width: 100%;
    height: 3em;
    display: inline-block;
    margin: .2em;
}

.nav-bar ul {
    font-size: 1.2em;
    display: inline;
}

.nav-bar ul a {
    padding-inline: 1rem;
    float: right;
    font-size: 1.2em;
    margin-top: .3rem;
}

/* body styling  */
.body-content {
    background-color: #000;
}

.body-content .body-background{
     position: relative;
     margin: 1rem;
     box-shadow: 0 0 20px 0 rgba(236, 234, 234, 0.948);
}

.body-background div{
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 0 20 0 rgba(236, 234, 234, 0.948);
    width: 100%;
    left: 45%;
    right: 50%;
    top: 2rem;
}

.body-background div h3{
    font-size: 3rem;
    color: #1c1b1b;
    margin: 0;
}

.body-background div h4{
    font-size: 1.2rem;
    font-weight: 100;
    margin-left: 1rem;
    line-height: 1.6;
    letter-spacing: .1px;
}

.body-background div h2{
    color: #052f76;
    text-align: center;
}

.body-content .body-background img{
    position:absolute;
    width: 100%;
    filter: blur(0px);
    padding: 0;
    margin: 0;
}

.body-content .info-container h3{
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 4rem;
    font-weight: 900;
    color: #fff;
    margin-left: 3rem;
    margin-top: 3rem;
}

.availability {
    box-shadow: 0 0 20px 0 rgba(236, 234, 234, 0.948);
    position: absolute;
    width: 40%;
    height: auto;
    padding: .2em;
    right: 20%;
    margin-right: 4rem;
    margin-top: 5rem;
}

.availability p {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 300;
    text-align: center;
    margin: 1rem;
    text-transform: uppercase;
}

.availability label {
    display: block;
    font-size: 1.4rem;
    margin: .3rem;
}

.availability span {
    font-size: 2rem;
    margin: .3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
}

.availability form {
    width: 100%;
    height: auto;
    padding: 2.5rem 1rem 1rem 1rem;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.availability input,
select {
    width: 100%;
    height: 3.35rem;
    border-radius: 3px;
    font-size: 1.6rem;
    border: none;
    margin-bottom: 2rem;
}

.availability select option {
    font-size: 1.7rem;
}

.availability #avail-btn {
    margin-top: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.7rem;
    letter-spacing: 1px;
}

.availability #avail-btn:hover {
    background-color: #052f76;
    color: #fff;
}

footer {
    width: 96%;
    height: auto;
    background-color: #d7d7d7;
    padding: 1rem;
    margin: 5rem auto 1rem auto;
}

footer h1 {
    font-size: 2.2rem;
    padding: 1rem;
    font-weight: 500;
}

h2 {
    font-size: 2rem;
    padding: 1rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 400;
}

@media screen and (min-width: 700px) {
    * {
        font-size: 10.5px;
    }
}

@media screen and (min-width: 900px) {
    * {
        font-size: 11px;
    }
}