* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
}

/* header styling */

.header {
    position: relative;
}

.header img {
    width: 100%;
    filter: blur(1.2px);
}

.header div {
    position: absolute;
    width: 100%;
    top: 25%;
    color: #fff;
    text-align: center;
}

.header div h3 {
    font-size: 4vw;
    font-weight: 300;
    letter-spacing: 3px;
}

.header div h4 {
    font-size: 3vw;
    font-weight: 200;
    letter-spacing: 3px;
}

/* nav bar styling */

.nav-bar {
    width: 100%;
    margin: auto auto;
}

.nav-bar ul {
    display: inline;
    padding-inline: 1rem;
}

.nav-bar a {
    text-decoration: none !important;
    font-size: 1.5rem;
    color: #000;
}

.nav-bar ul i {
    font-size: 1.5rem;
}

.instructions {
    position: relative;
    width: 100%;
}

.instructions img {
    width: 100%;
    filter: blur(.2px);
}

.instructions div {
    position: absolute;
    color: #fff;
    width: 100%;
    margin: 0;
    box-shadow: 0 0 20px 0 rgba(244, 238, 238, 0.981);
    top: 15%;
    padding: 1rem;
    margin-top: 2rem;
}

.instructions div h1 {
    font-size: 2.5vw;
    /* font-size: 2.5vh; */
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.instructions div h4 {
    font-size: 1.5vw;
    /* font-size: 1.5vh; */
    font-weight: 200;
    letter-spacing: 1.5px;
    line-height: 1.6;
    margin-left: 1.5rem;
}

.instructions div h4 i {
    font-size: 2vw;
}

.instructions div button {
    position: inherit;
    left: 73%;
    top: 30%;
    font-size: 3rem;
    padding: .4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    width: calc(100% - 79% - 2%);
    height: auto;
    background-color: #f1f6b3f8;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 20px 0 rgba(243, 244, 161, 0.981);
}

.instructions div button:hover {
    color: yellow;
    background-color: rgb(63, 63, 48);
}

.process-start {
    position: relative;
    top: -.4rem;
    color: #fff;
}

.process-start img {
    width: 100%;
    height: 30rem;
}

.process-start h3 {
    position: absolute;
    color: #dbe29e;
    font-size: 3vw;
    top: 10%;
    left: 23%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.process-start form {
    width: 100%;
    height: 20rem;
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}

/* .process-start .col1 {
    background-color: #41b41b;
    width: 33%;
}

.process-start .col2 {
    background-color: aqua;
    width: 33%;
}

.process-start .col3 {
    background-color: red;
    width: 33%;
} */

.process-start .col1,
.process-start .col2,
.process-start .col3{
    width: 32%;
    padding: 1rem;
}

.process-start .col1 label,
.process-start .col2 label,
.process-start .col3 label {
    font-size: 2rem;
    margin-left: 25%;
}

.process-start .col1 input,
.process-start .col2 input,
.process-start .col3 select {
    margin-left: 0;
    font-size: 2rem;
    width: 100%;
    padding: 1rem;
}

.process-start .col3 select option{
    font-size: 2rem;
}

.process-start #avail-btn{
    font-size: 2rem;
    letter-spacing: 1px;
    border-radius: 3px;
    margin: 1.5rem;
    padding: .5rem;
    width: 50%;
    background-color: #2444e1f8;
    text-transform: uppercase;
    color: #fff;
    border: none;
}

.process-start #avail-btn:hover{
   background-color: #0e0ea8;
   color: #fff;
}

/*
.process-start div {
    position: absolute;
    display: flex;
    top: 20%;
    left: 10%;
    /* box-shadow: 0 0 20px 0 rgba(244, 238, 238, 0.981); 
    padding: 2rem;
}

.process-start div .col{
    width: 33.33%;
    float: left;
    display: inline-flex;
}

.process-start div form label {
    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 1.6;
    padding-left: 1rem;
    padding-right: 1rem;
}

.process-start div form input,
.process-start div form select {
    height: 3rem;
    font-size: 1.5rem;
    margin: .4rem 1rem 2rem 1rem;
    border: none;
    border-radius: 2px;
}

.process-start div form select option {
    font-size: 1.5rem;
    background-color: #000;
    color: #fff;
}

.process-start div form #avail-btn {
    color: #000;
    background-color: #82f0e5f8;
}

.process-start div form #avail-btn:hover {
    color: #82f0e5f8;
    background-color: #000;
} */

/* .process-start #car-alone {
    position: absolute;
    width: 33.33rem;
    height: 33rem;
    top: 0;
    left: 4%;
    /* box-shadow: 0 0 20px 0 rgba(71, 69, 69, 0.981);
}

.process-start #bike-alone {
    position: absolute;
    width: 20rem;
    height: 25rem;
    top: 45%;
    left: 5%;
} */

/* footer styling */

footer {
    width: 100%;
    /* display: flex;
    flex-direction: row; */
    padding: 2rem;
    line-height: 4rem;
    letter-spacing: 2px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr;
}

footer h3 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

footer h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

footer i {
    font-size: 1.5rem;
}

@media (max-width: 500px) {
    .nav-bar a {
        font-size: 1.3rem;
    }
    
    .nav-bar ul i {
        font-size: 1.2rem;
    }
    .instructions div button {
        font-size: 1.2rem;
    }

    footer div h3 {
        font-size: 1.8rem;
    }

    footer div h4,
    footer div i {
        font-size: 1rem;
    }
}

@media (min-width: 500px) {
    .instructions div button {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 700px) {
    * {
        font-size: 10.5px;
    }

    .instructions div button {
        font-size: 2rem;
    }
}

@media screen and (min-width: 900px) {
    * {
        font-size: 11px;
    }

    .instructions div button {
        font-size: 3rem;
    }

    .process-start .col1 label,
    .process-start .col2 label,
    .process-start .col3 label {
        font-size: 3rem;
        margin-left: 25%;
    }
}

@media (max-width: 600px){
.process-start h3{
 top : 3%;
}

.process-start form{
    top: 12%;
    padding: 1rem;
}
.process-start .col1,
.process-start .col2,
.process-start .col3{
    width: 100%;
    padding: .5rem
}
.process-start .col1 label,
.process-start .col2 label,
.process-start .col3 label {
    font-size: 1.7rem;
    margin-left: 2%;
}

.process-start .col1 input,
.process-start .col2 input,
.process-start .col3 select {
    margin-left: 0;
    font-size: 1.4rem;
    width: 100%;
    padding: .5rem;
}

.process-start .col3 select option{
    font-size: 1.7rem;
}

.process-start #avail-btn{
   font-size: 1.5rem;
   width: 100%;
}
}